deployment/datasets/src/main/resources/xsd/supplychain/converga/Supplier-Invoices-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InvoiceCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Invoice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="CaptureDate"/>
              <xs:element type="xs:time" name="CaptureTime"/>
              <xs:element type="xs:string" name="Company"/>
              <xs:element type="xs:string" name="Credit"/>
              <xs:element type="xs:string" name="Supplier"/>
              <xs:element type="xs:string" name="SupplierInvoiceNo"/>
              <xs:element type="xs:string" name="PurchaseOrderNo"/>
              <xs:element type="xs:string" name="Source"/>
              <xs:element type="xs:date" name="InvoiceDate"/>
              <xs:element type="xs:string" name="Reference1"/>
              <xs:element type="xs:string" name="Currency"/>
              <xs:element type="xs:float" name="Amount"/>
              <xs:element type="xs:float" name="VatAmount"/>
              <xs:element type="xs:string" name="AlternativeID"/>
              <xs:element type="xs:string" name="DeliveryNote"/>
              <xs:element type="xs:string" name="ImageFile"/>
              <xs:element type="xs:string" name="Group1"/>
              <xs:element type="xs:integer" name="NoOfImages"/>
              <xs:element type="xs:string" name="Type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>